---
import Base from '@/layouts/Base.astro'
import { Icon } from 'astro-icon/components'

import gdeBannerImage from '@/assets/gde-banner.png'

import { TALKS_DATA } from '@/lib/speakers'
---

<Base>
    <section class="wide">
        <div class="people-list">
            <div class="wide">
                <h1>Speakers</h1>
            </div>
            {
                TALKS_DATA.flatMap(talk =>
                    talk.speakers.map(speaker => ({
                        talkId: talk.id,
                        speaker,
                    })),
                )
                    .sort((a, b) => a.speaker.LastName.localeCompare(b.speaker.LastName))
                    .map(({ talkId, speaker }) => (
                        <a class="person interactive" href={`/talk/${talkId}`}>
                            <div class="picture">
                                <img
                                    src={speaker['Profile Picture']}
                                    alt={speaker.FirstName + ' ' + speaker.LastName}
                                />
                                {speaker['Are you a Google employee or GDE?'].includes('Yes') && (
                                    <div class="gde-banner">
                                        <img src={gdeBannerImage.src} />
                                    </div>
                                )}
                            </div>

                            <h3>{speaker.FirstName}</h3>
                            <h3>{speaker.LastName}</h3>

                            <p>{speaker.Title}</p>
                        </a>
                    ))
            }
        </div>
    </section>
</Base>
