---
import Base from '@/layouts/Base.astro'
import type { GetStaticPaths } from 'astro'

import gdeBannerImage from '@/assets/gde-banner.png'

import { TALKS } from '@/lib/sessionize'

export const getStaticPaths = (() => {
    return TALKS.map(talk => ({
        params: {
            id: talk.id,
        },
        props: {
            talk,
        },
    }))
}) satisfies GetStaticPaths

const { talk } = Astro.props

const languageEmoji =
    {
        English: '🇬🇧',
        Italian: '🇮🇹',
    }[talk.language] || null
---

<Base>
    <section id="talk">
        <div class="talk">
            <div class="speakers">
                <h3>
                    {talk.speakers.length > 1 ? 'Speakers' : 'Speaker'}
                </h3>
                {
                    talk.speakers.map(speaker => (
                        <div class="speaker">
                            <div class="picture">
                                <img src={speaker.profilePicture} alt={speaker.firstName + ' ' + speaker.lastName} />
                                {speaker.isGDE && (
                                    <div class="gde-banner">
                                        <img src={gdeBannerImage.src} />
                                    </div>
                                )}
                            </div>

                            <div class="info">
                                <div class="name">
                                    <h3>
                                        {speaker.firstName} {speaker.lastName}
                                    </h3>
                                </div>
                                <div class="tag-line">
                                    <div class="text">{speaker.tagLine}</div>
                                </div>
                            </div>

                            <div class="bio text">
                                {speaker.bio.split('\n').map(line => (
                                    <p>{line}</p>
                                ))}
                            </div>
                        </div>
                    ))
                }
            </div>
            <div class="content">
                <div class="title">
                    <h2>{talk.title}</h2>
                </div>

                <div class="metadata">
                    <div class="chip">
                        {talk.category}
                    </div>
                    <div class="chip">
                        {talk.level}
                    </div>
                    {languageEmoji && <div class="chip emoji">{languageEmoji}</div>}
                    {
                        talk.room && (
                            <>
                                <div class="chip">
                                    {new Date(talk.startTime).toLocaleString('en-US', {
                                        hour: '2-digit',
                                        minute: '2-digit',
                                        hour12: false,
                                    })}
                                </div>
                                <div class="chip">
                                    {
                                        {
                                            [25]: '20min',
                                            [30]: '20min',
                                            [50]: '40min',
                                        }[talk.duration]
                                    }
                                </div>
                                <div class="chip">{talk.room}</div>
                            </>
                        )
                    }
                </div>

                <div class="description">
                    <div class="text">
                        {talk.description.split('\n').map(line => <p>{line}</p>)}
                    </div>
                </div>
            </div>
        </div>
    </section>
</Base>
